
@font-face {
  font-family: 'Ledgewood';
  font-style: normal;
  font-weight: normal;
  src: local('Ledgewood'), url('Ledgewood.ttf') format('truetype');
  }
.ledgewood {
  font-family: Ledgewood;
        font-weight: 200;
        color: #523903;
}
@font-face {
  font-family: 'Lumberjack';
  font-style: normal;
  font-weight: normal;
  src: local('Lumberjack'), url('Lumberjack.otf') format('opentype');
  }
.lumberjack {
  font-family: Lumberjack;
        font-weight: 200;
        color: #523903;
}
